:root{
/*top*/
	--top-line:#3399ff;
	--top-line-text:white;
/*page*/
	--text-background:white;
	--text-color:black;
/*links*/
	--link-visited: #001166;
	--link-hover: #3300ff;
	--link-active: #33ff33;
/*table*/
	--table-accent: #2B81EE;
	--table-white: white;
	--table-text: #1111dd;
	--table-under: black;
/*article*/
	--article-strong:darkred;
	--article-abbr:darkorange;
/*form*/
	--form-invalid:red;
	--form-valid:black;
}

body {
    max-width: 720px;
    margin: 0 auto;
    font-family: "open sans", sans-serif;
	background-color: var(--text-background);
	color: var(--text-color);
}

article{
	padding: 60px 0px 30px;
}

header.nav {
    background-color: var(--top-line);
    position: fixed;
	width: 110%;
	left: 0px;
	z-index: 10;
}

#logo {
    color: var(--top-line-text);
}

header.nav nav {
	overflow: hidden;
	position: relative;
}

footer {
	background-color: var(--top-line);
	width: 100%;
	padding: 10px 10px;
	color: var(--top-line-text);
	position: fixed;
	bottom: 0px;
	left: 0px;
}

header.nav nav ul {
	display: none;
	padding-left: 0px;
    background-color: var(--top-line);
}

header.nav nav ul li {
	list-style-type: none;
	margin: 0px auto;
	text-align: center;
}

header.nav nav ul a {
	text-decoration: none;
	display: inline-block;
    color: var(--top-line-text);
}

header.nav nav ul a:hover {
	transition: 0.3s ease;
}

input {
	display: none;
}

input:checked ~ nav ul {
	display: block;
}

article img {
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	margin: 4px;
}

.img-grow {
	transition: width 0.5s, height 0.9s;
	transition-timing-function: ease;

	transition-delay: 1s;
}



header.nav label {
	display: block;
  float: right;
	font-size: 25px;
	background-color: white;
	border-radius: 5px;
	margin: 5px;
	margin-right: 10px;
	top:-44px;
	width: 24px;
	height: 24px;
	position: relative;
	background-image: url(img/24px.svg);
	left: -50px;
}

/*LINKS*/
a.cLink:link {
  color: var(--top-line);
}

a.cLink:visited {
  color: var(--link-visited);
}

a.cLink:hover {
  color: var(--link-hover);
}

a.cLink:active {
  color:var(--link-active);
} 
/*NUMBERED LIST*/
#list-num ol { 
	counter-reset: item;
}
#list-num li{ 
	display: block;
}
#list-num ol li:before { 
	content: counters(item, ".") ". ";
 	counter-increment: item;
}
#list-num ol>ol li:before { 
	content: counters(item, ".") " ";
 	counter-increment: item;
}
/*TABLES*/
table {
    margin: 2em 0.5em;
	background-color: var(--table-accent);
    width: 90%;
}
table thead td{
	background-color: var(--table-accent);
	color: var(--table-white);
}
table tbody.under td{
	background-color: var(--table-white);
	color: var(--table-under);
}
table td{
	background-color: var(--table-white);
	color: var(--table-text);
	text-align: center;
}
/*TEXT*/
article em {
	font-size: 125%;
}
article strong {
	font-size: 150%;
	color: var(--article-strong);
}
article abbr{
	font-size: 110%;
	color: var(--article-abbr);
}
/*FORM*/
form input{
	display: block;
	float: right;
	color:var(--text-color);
	background-color: var(--text-background);
}
form input:invalid {
  border: 2px dashed var(--form-invalid);
}

form input:invalid:required {
  border: 2px solid var(--form-invalid);
}

form input:valid {
  border: 2px solid var(--form-valid);
}

form br{
  clear: both;
}
form label{
	float: left;
}
form {
	max-width: 350px;
}
/*CSS GENERATED*/
a.tul{
	width: 300px;
	display: inline-block;
	font-size: 0;
}
a.cvut{
	width: 160px;
	display: inline-block;
	font-size: 0;
}
a.tul::before{
	content:url("img/logo-tul.svg") " ";
}
a.cvut::before{
	content:url("img/logo-cvut.svg") " ";
}
/*VIDEO AUDIO*/
#videoPlayer{
	width: calc(96% - 20px);
	margin: 5px;
}
#gallery  #videoPlayer video, #gallery #videoPlayer audio{
	width: 100%;
}
/*MEDIA DIFF SCREENS*/
@media screen and (max-width: 399px) {

	article{
		padding: 40px 0px 30px;
	}
	header.nav{
		height: 50px;
		top:0px;
		left: 0px;
    	bottom: auto;
	}
	h1 {
		margin: 0;
		padding: 5px 5px;
		width: 20%;
		z-index: 3;
	}

    header.nav nav {
		float: right;
		position: relative;
		width: 100%;
		background-color: var(--top-line);
		top: -35px;
	  	z-index: 2;
    }

    header.nav nav ul {
        margin: 0 auto;
        padding: 1px 0px;
    }

	header.nav nav ul li a{
		padding: 10px 0px;
		border-top: 1px solid var(--top-line-text);
		/*! border-top-color: white; */
		width: 100%;
		/*! text-align: center; */
		margin: 0px 0px 0px -30px;
    }

	article img {
		position: relative;
		top: -20px;
		width: calc(100% - 10px);
	}
}

@media screen and (min-width: 400px) and (max-width: 719px) {
	article{
		padding: 110px 0px 30px;
	}
    h1 {
        text-align: center;
        margin: 0 auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

	header.nav nav {
		height: 70px;
		display: flex;
		align-items: center;
	}
	header.nav nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 80%;
	}
	header.nav nav ul a {
		padding-left: 10px;
	}
	
	header.nav label {
		display: none;
	}

	input:checked  ~ nav ul {
		display: flex;
	}

	article img {
		width:calc(50% - 16px);
	}
}

@media screen and (min-width: 720px) {
    h1 {
        float: left;
        padding: 0px 15px;
		    max-height: 50px;
        margin: 10px;
    }
	header.nav{
		height: 60px;
	}
	header.nav nav {
		height: 50px;
		display: flex;
		align-items: center;
		width: 70%;
	}
	header.nav nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-left: 30px;
	}
	header.nav nav ul a {
		padding: 15px;
	}

	header.nav label {
		display: none;
	}

	input:checked ~ nav ul {
		display: flex;
	}

	article img {
		width:30%;
	}

	.img-grow:hover{
		width: 65%;
	}
}
@media print {
	body {
		margin: 0.5em;
		color: #000;
		background-color: #fff;
	}
	article{
		padding: 0px;
	}
	article img {
		width:30%;
	}
	header.nav, footer{
		display: none;
	}
	table{
		border: solid black;
		color: black;
		background-color: black;
	}
	table thead td{
		background-color: white;
		color: black;
	}
	table td{
		background-color: white;
		color: black;
		text-align: center;
	}
	article em,article strong,article abbr{
		color: black;
		font-size: 100%;
	}
	a::after {
    	content: " (" attr(href) ")";
  	}
	abbr::after {
	    content: " (" attr(title) ")";
  	}
  	table, img, svg {
	  break-inside: avoid;
	}
	#gallery img{
		width: 100%;
	}
}