* {
  margin: 0;
}
body {
  max-width: 1024px;
  margin: 0 auto;
}
#obal{
	position: relative;
	min-height: 100%;
	margin-bottom: -1em;
}
#obal:after{
	content: "";
	display: block;
}
#zapati{
	float: left;
	position: sticky;
	bottom: -1px;
	background-color: #F0F0F0;
	height: 19px;
	width: 100%;
}

#zahlavi h1,address{
	display: inline;
	height: 60px;
	background-color: #F0F0F0;
	color: black;
	display: block;
	padding: 0% 1% 0% 1%;
}
#zahlavi h1 {
	font-size: 200%;
	font-weight: bold;
	text-align: left;
	float: left;
	width: 88%;
}
#zahlavi address {
	width: 8%;
	float: right;
	text-align: right;
}
#novinky div h2 {
	color: #D3D3D3;
}
/*obsah*/
#obsah{
	margin-left: 200px;
	clear: right;
	float: right;
	padding-bottom: 1em;
	position: relative;
}
#obsah:after{
	content: "";
	display: block;
}
#obsah h1{
	font-size: 200%;
	padding: 2% 0%;
}
#obsah>p {
	font-size: 125%;
	padding: 0% 0% 1% 0%;
}
#obsah{
	float: none;
}
#novinky{
	float: right;
	width: 200px;
	display: block;
	border: 1px solid black;
	font-size: 75%;
	text-align: left;
	text-decoration: none;
	margin: 0.5em;
	padding: 0.5em;
}
*.clr{
	clear: both;
}
/*menu*/
#menu{
	left: 0px;
	top: 5px;
	width: 180px;
	padding: 8px 0px;
	float: left;
	clear: both;
}

#menu ul {
	list-style: none;
	margin: 0; 
	padding: 0;
}
#menu li {
  	position: relative;
	padding: 1px 0px;  
}
#menu li a {
	display: block;
	background: #D0D0D0;
	text-decoration: none;
	font-weight: bold;
}
#menu li:hover {
  background-color: #C9C9C9;
}

#menu li ul {
  	display: none;
	position: absolute;
	top: 0;
	left: 180px;
	width: 180px;
}

#menu li:hover ul {
  display: block;
}