/*Pos fix*/
nav {
  float: left;
  position: sticky;
  width: 300px;
  margin-left: -20px;
}
div {
  margin-left: 270px;
}
body {
  width: 80%;
  height: 100%;
  margin: 0px auto;
}
/*visual stuff*/
html{
  background-color: #333;
}
body {
  border-style: solid;
  border-color: darkred;
  background-color: white;
}
div.end {
  clear: both;
}
h2, h1 {
  border-bottom: 1px solid darkred;
  background-image: linear-gradient(to bottom, red, white, white, white);
  background-position-y: -5px;
}
nav ul li { 
  list-style: none;
  position: relative;
}
nav ul li ul { 
    padding: 0 10px;
    list-style-type: none;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0px;
    display: none;
    top: 0px;
    left: 200px;
    width:200px;
}
nav ul li ul li {
    list-style: none;
    background-image: linear-gradient(to right, red, white, white, white, white, white);
    background-repeat: no-repeat;
    background-position: -20px;
    margin: 2px 0px;
}
nav ul li:hover ul, li.over ul { display: block; }
a {
    display:block;
    color: darkred;
}
a:hover {
  color: red;
}

:target {
  border-left:2px solid #999;
}

nav ul li p {
  margin: 1px 10px;
  background-image: linear-gradient(to right, red, rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0));
}

nav ul li ul li {
  background-position: -20px;
  padding: 0px 10px;
}

nav ul li a {
  padding: 0px 10px;
}
